<app-header></app-header>

<div *ngIf="inscripcionService.exito!=''" class="alert alert-success alert-dismissible fade show" role="alert">
    {{ inscripcionService.exito }}
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>

<div *ngIf="inscripcionService.error!=''" class="alert alert-danger alert-dismissible fade show" role="alert">
    {{ inscripcionService.error }}
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>

<div class="container animate__animated animate__fadeIn">
    <div class="row justify-content-center">
        <div class="col-12 col-md-6 m-2">
            <mat-card>
                <h2>Pase de lista</h2>
                <div class="d-flex flex-column">
                    <mat-form-field appearance="fill">
                        <mat-label>Buscar </mat-label>
                        <input type="text" name="busca" matInput [(ngModel)]="busca" (input)="buscaPeque()" />
                    </mat-form-field>
                </div>
                <table class="table table-striped table-hover" style="max-height: 90%; overflow-y: scroll;">
                    <thead>
                        <tr>
                            <th>Apellidos, Nombre</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let peque of listaFiltered; index as i">
                            <td class="d-flex flex-column">
                                <div>
                                    <mat-icon class="m-2">account_box</mat-icon>
                                    {{peque.apellidos }}, {{ peque.nombre }}
                                </div>
                                <button class="m-2" mat-raised-button color="primary" (click)="onEntrada(i)" *ngIf="!checkEntrada(i)">Entrada</button>
                                <button class="m-2" mat-raised-button color="standard" (click)="onEntrada(i)" *ngIf="checkEntrada(i)" disabled>Entrada</button>
                                <form class="d-flex flex-column" #salidaForm="ngForm" (ngSubmit)="onSalida(i, salidaForm)">
                                <button class="m-2" mat-raised-button color="accent" type="submit">Salida</button>
                                <mat-form-field appearance="fill">
                                    <mat-label>Familiar:</mat-label>
                                    <mat-select name="dnifamiliar" ngModel required #dnifamiliar="ngModel">
                                        <mat-option *ngFor="let fam of peque.famList" [value]="fam.dni">
                                            {{fam.nombre}}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                                </form>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </mat-card>
        </div>
    </div>
</div>
