<app-header></app-header>

<div *ngIf="inscripcionService.exito!=''" class="alert alert-success alert-dismissible fade show" role="alert">
    {{ inscripcionService.exito }}
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>

<div *ngIf="inscripcionService.error!=''" class="alert alert-danger alert-dismissible fade show" role="alert">
    {{ inscripcionService.error }}
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>

<div class="container animate__animated animate__fadeIn">
    <div class="row justify-content-center">
        <div class="col-12 col-md-6 m-2">
            <mat-card>
                <h2>Pase de lista</h2>
                <div class="d-flex flex-column">
                    <mat-form-field appearance="fill">
                        <mat-label>Buscar </mat-label>
                        <input type="text" name="busca" matInput [(ngModel)]="busca" (input)="buscaPeque()" />
                    </mat-form-field>
                </div>
                <table class="table table-striped table-hover" style="max-height: 90%; overflow-y: scroll;">
                    <thead>
                        <tr>
                            <th>Apellidos, Nombre</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let peque of listaFiltered; index as i">
                            <td *ngIf="checkPaidDay(i)" class="d-flex flex-column">
                                <div>
                                    <mat-icon class="m-2">account_box</mat-icon>
                                    {{peque.apellidos }}, {{ peque.nombre }}
                                </div>
                                <button class="m-2" mat-raised-button color="primary" (click)="onEntrada(i)"
                                    *ngIf="!checkEntrada(i)">Entrada</button>
                                <button class="m-2" mat-raised-button color="accent" (click)="onDeleteEntrada(i)"
                                    *ngIf="checkEntrada(i)">Entrada</button>
                                <button class="m-2" mat-raised-button color="primary" (click)="onAulaMat(i)"
                                    *ngIf="checkPaidAulaMat(i) && !checkAulaMat(i)">Aula Matinal</button>
                                <button class="m-2" mat-raised-button color="accent" (click)="onDeleteAulaMat(i)"
                                    *ngIf="checkPaidAulaMat(i) && checkAulaMat(i)">Aula Matinal</button>
                                <button class="m-2" mat-raised-button color="primary" (click)="onComedor(i)"
                                    *ngIf="checkPaidComedor(i) && !checkComedor(i)">Comedor</button>
                                <button class="m-2" mat-raised-button color="accent" (click)="onDeleteComedor(i)"
                                    *ngIf="checkPaidComedor(i) && checkComedor(i)">Comedor</button>
                                <button class="m-2" mat-raised-button color="primary" (click)="onPostCom(i)"
                                    *ngIf="checkPaidPostCom(i) && !checkPostCom(i)">Campus Wait</button>
                                <button class="m-2" mat-raised-button color="accent" (click)="onDeletePostCom(i)"
                                    *ngIf="checkPaidPostCom(i) && checkPostCom(i)">Campus Wait</button>
                                <form class="d-flex flex-column" #salidaForm="ngForm">
                                    <button class="m-2" mat-raised-button color="primary"
                                        (click)="onSalida(i, salidaForm)" type="button"
                                        *ngIf="!checkSalida(i)">Salida</button>
                                    <button class="m-2" mat-raised-button color="accent" (click)="onDeleteSalida(i)"
                                        type="button" *ngIf="checkSalida(i)">Salida</button>
                                    <mat-form-field appearance="fill" *ngIf="!returnFam(i)">
                                        <mat-label>Familiar:</mat-label>
                                        <mat-select name="tlffamiliar" ngModel required #dnifamiliar="ngModel">
                                            <mat-option *ngFor="let fam of peque.famList" [value]="fam.tlf">
                                                {{fam.nombre}} {{fam.apellidos}}
                                            </mat-option>
                                            <mat-option value="600111222">Otro familiar</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </form>
                                <p *ngIf="returnFam(i)" class="ml-3">Familiar: <strong>{{ returnFam(i) }}</strong></p>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </mat-card>
        </div>
    </div>
</div>