<mat-toolbar color="primary">
    <button mat-icon-button class="example-icon" [matMenuTriggerFor]="menu"
        aria-label="Example icon-button with menu icon">
        <mat-icon>menu</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
        <button mat-menu-item routerLink="/main/campus/{{ campusService.campus.idcampus }}">
            <mat-icon>settings</mat-icon>
            <span>Campus</span>
        </button>
        <button mat-menu-item routerLink="/main/campus/{{ campusService.campus.idcampus }}/listado">
            <mat-icon>how_to_reg</mat-icon>
            <span>Lista Diaria</span>
        </button>
        <button *ngIf="userService.isAdmin()" mat-menu-item routerLink="/main/campus/{{ campusService.campus.idcampus }}/monitores">
            <mat-icon>assignments</mat-icon>
            <span>Monitores</span>
        </button>
        <button mat-menu-item routerLink="/main/campus/{{ campusService.campus.idcampus }}/calendario">
            <mat-icon>event</mat-icon>
            <span>Calendario</span>
        </button>
        <button mat-menu-item [matMenuTriggerFor]="inscriptions">
            <mat-icon>face</mat-icon>
            <span>Inscripciones</span>
        </button>
            <mat-menu #inscriptions="matMenu">
                <button *ngIf="userService.isAdmin()" mat-menu-item routerLink="/main/campus/{{ campusService.campus.idcampus }}/inscripcion/nueva">
                    <mat-icon>account_box</mat-icon>
                    <span>Nueva inscripción</span>
                </button>
                <button mat-menu-item routerLink="/main/campus/{{ campusService.campus.idcampus }}/inscripciones">
                    <mat-icon>supervised_user_circle</mat-icon>
                    <span>Buscar inscripción</span>
                </button>
            </mat-menu>
        <button mat-menu-item disabled>
            <mat-icon>group_work</mat-icon>
            <span>Menus</span>
        </button>
        <button mat-menu-item routerLink="/main">
            <mat-icon>logout</mat-icon>
            <span>Página principal</span>
        </button>
    </mat-menu>
    <span><a class="campus-name" routerLink="/main/campus/{{ campusService.campus.idcampus }}">{{ campusService.campus.nombre }}</a></span>
    <span class="example-spacer"></span>
    <span class="greetings"> Bienvenido, <strong>{{ userService.user.user }}</strong></span>
    <button mat-icon-button class="example-icon" aria-label="logout" href="/main" (click)="userService.logout()"> <!-- fix with function to actually logout -->
        <mat-icon>logout</mat-icon>
    </button>
</mat-toolbar>