<app-header></app-header>
<div *ngIf="actividadUpdated" class="alert alert-success alert-dismissible fade show" role="alert">
    ¡{{ nombreActividad }}, editada!
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>

<div *ngIf="actividadService.error!=''" class="alert alert-danger alert-dismissible fade show" role="alert">
    {{actividadService.error}}
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>

<div class="container animate__animated animate__fadeInUp">
    <div class="row justify-content-center">
        <div class="col-12 col-md-6 m-2">
            <mat-card>
                <form class="d-flex flex-column" [formGroup]="actividadForm" (ngSubmit)="onActividadUpdate()">
                    <mat-form-field appearance="fill">
                        <mat-label>Nombre</mat-label>
                        <input type="text"
                               matInput
                               name="nombre"
                               required
                               formControlName="nombre"
                               [matAutocomplete]="auto"
                               (input)="filterActividades()"> <!--Real time search for previously saved activities-->
                        <mat-autocomplete #auto="matAutocomplete">
                          <mat-option *ngFor="let actividad of filteredActividadList" [value]="actividad.idactividad">
                            {{actividad.nombre}}
                          </mat-option>
                        </mat-autocomplete>
                      </mat-form-field>
                    <mat-form-field appearance="fill">
                        <mat-label>Descripción</mat-label>
                        <textarea type="text" matInput name="descripcion" required formControlName="descripcion"></textarea>
                    </mat-form-field>
                    <div class="row justify-content-center">
                        <mat-form-field appearance="fill" class="col-6">
                            <mat-label>Hora inicio</mat-label>
                            <mat-select name="horaini" required formControlName="horaini">
                                <mat-option *ngFor="let hora of horas" [value]="hora">
                                    {{hora}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                        <mat-form-field appearance="fill" class="col-6">
                            <mat-label>Minutos</mat-label>
                            <mat-select name="minini" required formControlName="minini">
                                <mat-option *ngFor="let minuto of minutos" [value]="minuto">
                                    {{minuto}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div class="row justify-content-center">
                        <mat-form-field appearance="fill" class="col-6">
                            <mat-label>Hora fin</mat-label>
                            <mat-select name="horafin" required formControlName="horafin">
                                <mat-option *ngFor="let hora of horas" [value]="hora">
                                    {{hora}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                        <mat-form-field appearance="fill" class="col-6">
                            <mat-label>Minutos</mat-label>
                            <mat-select name="minfin" required formControlName="minfin">
                                <mat-option *ngFor="let minuto of minutos" [value]="minuto">
                                    {{minuto}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <mat-form-field appearance="fill">
                        <mat-label>Color</mat-label>
                        <mat-select name="color" required formControlName="color">
                            <mat-option *ngFor="let color of colores" [value]="color.hex">
                                <div class="colorselector" [style.color]="color.hex">{{color.nombre}}</div>
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                    <mat-form-field appearance="fill">
                        <mat-label>Grupo:</mat-label>
                        <mat-select name="idgrupo" required formControlName="idgrupo">
                            <mat-option *ngFor="let grupo of campusService.gruposList" [value]="grupo.idgrupo">
                                {{grupo.nombre}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                    <mat-form-field appearance="fill">
                        <mat-label>Monitor:</mat-label>
                        <mat-select name="dnimonitor" required formControlName="dnimonitor">
                            <mat-option *ngFor="let monitor of monitorService.monitorList" [value]="monitor.dni">
                                {{monitor.nombre}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                    <button mat-raised-button color="accent" type="submit">Guardar</button>
                    <button mat-raised-button color="warn" type="button" class="mt-2" (click)="askDelete()">Borrar</button>
                </form>
                <hr />
                <a mat-raised-button color="primary"
                    routerLink="/main/campus/{{campusService.campus.idcampus}}/calendario">Volver</a>
            </mat-card>
        </div>
    </div>
</div>