<div *ngIf="userService.exito!=''" class="alert alert-success alert-dismissible fade show" role="alert">
    {{ userService.exito }}
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>

<div *ngIf="userService.error!=''" class="alert alert-danger alert-dismissible fade show" role="alert">
    {{ userService.error }}
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>

<div class="container">
    <div class="row justify-content-center">
        <div class="col-12 m-3 d-flex justify-content-center">
            <img src="./assets/img/campus.png" />
        </div>
        <div class="col-12 col-md-4 m-2">
            <mat-card>
                <form class="d-flex flex-column" #loginForm="ngForm" (ngSubmit)="onRegister(loginForm)">
                    <mat-form-field appearance="fill">
                        <mat-label>Usuario</mat-label>
                        <input type="text" matInput name="user" ngModel #user="ngModel" required/>
                        <mat-error *ngIf="user.invalid">Por favor, introduce un nombre de usuario</mat-error>
                    </mat-form-field>
                    <mat-form-field appearance="fill">
                        <mat-label>Contraseña</mat-label>
                        <input type="password" matInput name="password" ngModel #password="ngModel" required/>
                        <mat-error *ngIf="password.invalid">Por favor, introduce una contraseña</mat-error>
                    </mat-form-field>
                    <mat-form-field appearance="fill">
                        <mat-label>Nivel</mat-label>
                        <mat-select name="level" ngModel required>
                            <mat-option value="monitor">Monitor</mat-option>
                            <mat-option value="admin">Admin</mat-option>
                        </mat-select>
                    </mat-form-field>
                    <button mat-raised-button color="accent" type="submit">Registro</button>
                    <a class="mt-2" mat-raised-button color="primary" routerLink="/main">Volver</a>
                </form>
            </mat-card>
        </div>
    </div>
</div>